/* Global Properties */
html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
  }
  
  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }

  
  /* Main Container height*/
  .main-container {
    height: 100vh;
    padding-top: 5rem;
  }
  
  /* Aligning items in main row */
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Changing Name Font sixe */
  .main_row h1 {
    font-size: 5rem;
  }
  
  /* Making the main image the size of the screen */
  .main_row img {
    width: auto;
    height: 100vh;
  }
  
  /* About Section */
  #about {
    margin-top: 6rem;
    background: #313552;
    border-radius: 0.5rem;
  }
  
  .card {
    border-bottom: 8px solid #f5ba09;
  }
  .fa-facebook {
    padding: 1rem;
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    padding: 1rem;
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    padding: 1rem;
    background: #be19be;
    color: white;
  }
  